<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>MozTW tasks</title>
        <meta name="description" content="MozTW Volunteer">
        <meta name="keywords" content=""> 
        <link rel="stylesheet" type="text/css" href="/css/css.css">
    </head>
    <body>
      <div class="cc">
        <div class="desc"><a href="/mail">Menu</a> <a href="http://www.gmail.com/" target="gmail">收信</a> {{ tv.menu }}</div>
        <div class="descr">{{ tv.login }}</div>
      </div>
      <div class="cc top"></div>
      <table width="100%" height="80%">
        <tr>
          <td align="center" valign="middle">
            <div>
                <div class="rdu">{{ tv.tip }}</div>
            </div>
          </td>
        </tr>
      </table>
      <div class="descr">雷鳥郵差傳信小天使/小主人系統 <a href="http://github.com/toomore/moztw-tasks/tree/angel">github</a></div>
    </body>
</html>
