{% extends "base_temp_row.htm" %}

{% block title %}{{ title }}{% endblock %}

{% block javascript %}
<script type="text/javascript">
		// to set WMD's options programatically, define a "wmd_options" object with whatever settings
		// you want to override.  Here are the defaults:
        wmd_options = {
			// format sent to the server.  Use "Markdown" to return the markdown source.
			output: "Markdown",
			// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
			autostart: true
		};
</script>
<script type="text/javascript" src="/wmd/wmd.js"></script>
<style type="text/css">
/*<![CDATA[*/
#myInstance1 {
        border: 2px dashed #0000ff;
}
.nicEdit-selected {
        border: 2px solid #0000ff !important;
}
 
.nicEdit-panel,.nicEdit-button,.nicEdit-main {
        background-color: #fff !important;
}
/*]]>*/
</style>
{% endblock %}

{% block content %}
<form method="POST">
活動名稱：<input name="acname" size="40" value="{{ actname|escape }}"><br>
活動時間：<input name="actime" value="{{ deftime }}"><br>
活動地點：<input name="aclocation" size="40" value="{{ actlocation|escape }}"><br>
活動內容：<br>
<textarea id="area1" name="actdes" style="width: 100%; height: 300px;background:#ffffff;">{{ actdesc }}</textarea><br>
使用 <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown 語法</a>編輯<br>
<input type="submit" value="送出"> {{ edit_cancel }}
</form>
預覽
<div class="wmd-preview"></div>
{% endblock %}

{% block content2 %}
{{ sidetitle }}
{% endblock %}
